<section id="footer" class="row align-items-center justify-content-center">
        <div class="row col-md-12 justify-content-center">        
             <div class="row">       
                   <div>
                       <div class="contact"><h5>Informations</h5><hr></div>
                        <div id="infos">

                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                        </div>
                    </div>
                    <div>
                       <div class="contact"><h5>Nos services</h5><hr></div>
                        <div id="infos">

                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                            <p><a href=""><i class="fa fa-chevron-right"></i>lien</a></p>
                        </div>
                    </div>
                    <div>
                       <div class="contact"><h5>Contact</h5><hr></div>
                        <div id="infos">

                            <p><span>Email :</span><br>
                                email@email.com</p>
                            <p><span>Téléphone :</span><br>
                                01.25.35.39.95</p>
                            <p><span>Adresse :</span><br>
                            150 Rue du Marché<br>
                                75000 Paris</p>
                        </div>
                        </div>
                        <div>
                           <div class="contact"><h5>Réseaux Sociaux</h5><hr></div>
                            <div id="infos">

                                <p><i class="fab fa-facebook-square"></i>&nbsp;&nbsp; <a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
                                <p><i class="fab fa-twitter-square"></i>&nbsp;&nbsp; <a href="https://twitter.com/login?lang=fr" target="_blank">Twitter</a></p>
                                <p><i class="fab fa-linkedin"></i>&nbsp;&nbsp; <a href="https://fr.linkedin.com/" target="_blank">Linkedin</a></p>
                                <p><i class="fab fa-pinterest-square"></i>&nbsp;&nbsp; <a href="https://www.pinterest.fr/pinterestfr/" target="_blank">Pinterest</a></p>
                                <p><i class="fa fa-rss"></i>&nbsp;&nbsp;&nbsp; <a href="#">RSS Feed</a></p>
                            </div>
                        </div>
                </div> 
            </div>
            <div class="row col-md-10 justify-content-center menubas">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ path('homepage') }}">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#cartemenu">Nos spécialités</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#portfolio">Nos plats</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#team">Notre équipe</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#reservation">Réservation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}#footer">Contact</a>
                  </li>
                </ul>
            </div>  
           <div class="row col-md-10 justify-content-center copyright">Copyright 2019. 
           </div>  
        </section>   

<script src="/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/ad.js"></script>